<div class="title_container">
  <div class="title_card">
    <h1 >Home</h1>
  </div>
</div>

<div class="phrase_container">
  <div class="catch_phrase">
    <p> Bonjour ou bonsoir, nous sommes le <%= Time.now.strftime("%A %d %B %Y, il est %Ih%M") %> et un peu de Franglais n'a jamais fait de mal à personne, surtout de bon matin. </p>
    <p>Amicalement vôtre, <br> L'équipe technique.</p>
  </div>
</div>

<div class="button_container">
  <div class="button">
    <%= link_to "Let's Play", index_path %>
  </div>
</div>
