<div class="title-container">
  <div class="title-card">
    <h1>Liste exaustive des games</h1>
  </div>
</div>

<div class="phrase-container">
  <div class="catch-phrase">
    <p>Venez tester nos jeux! <br>Pour l'instant yen a aucun qui marche mais l'effet reste le même.</p>
  </div>
</div>

<div class="card-container">
  <ul>
    <% @games.each do |game|%>
      <div class="card">
        <li><%= link_to "#{game.capitalize}", morpio_path %></li>
      </div>
    <% end %>
  </ul>
</div>

<div class="button-container">
  <div class="button">
    <%= link_to "Home", root_path %>
  </div>
</div>
