:root {
  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --pink: rgb(244, 143, 177);
}

.button {
  width: 200px;
  height: 50px;
  font-size: large;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: infinite;
  background: linear-gradient(
    to right, var(--purple),
    var(--violet),
    var(--pink),
    var(--purple)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button_container {
  display: flex;
  justify-content: center;
}
